.benefit-h {
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
}

.benefit-p {
  text-align: center;
  align-items: center;
  font-size: 18px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
}

.benefit-hr {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  border: none;
  height: 3px;
  background: black;
  margin-top: -20px;
}
